body{
    font-family: Arial, Helvetica, sans-serif;
}
.score{
    color: violet;
}

.timer{
    position: absolute;
    top: 0;
    right:20px;
}

/* Welcome page */
#welcome{
    margin: 80px auto;
    text-align: center;
    display: block;
    width: 45%;
    
}

#welcome h2{
    font-weight: bold;
    font-size: 36px;
}

#welcome p {
    font-size: 20px;
}

#welcome button{
    padding: 10px;
    font-size: 20px;
    background-color: purple;
    cursor: pointer;
    color: white;
    border-radius: 10px;
}

/* Question Pages */
#questionContent{
    margin: 80px auto;
    text-align: left;
    display: block;
    width: 45%;
}

#questionContent h2{
    font-weight: bold;
    font-size: 30px;
}

#questionContent ol li{
    counter-increment: list;
    list-style-type: none;
    border: 1px sollid purple;
    margin-top: 15px; /* Prevent double borders */
    background-color: purple;
    padding: 12px;
    font-size: 18px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    /* display: block; */
    /* position: relative; */

}

#questionContent ol li::before{
    content: counter(list) ". ";
    background-color: purple;
}

#final-result{
    margin: 80px auto;
    text-align: left;
    display: block;
    width: 45%;
}

#final-result h2{
    font-weight: bold;
    font-size: 30px;
}

#final-result p{
    font-size: 20px;
}

#final-result button{
    padding: 10px;
    font-size: 20px;
    background-color: purple;
    cursor: pointer;
    color: white;
    border-radius: 10px;
}

#high-score {
    margin: 80px auto;
    text-align: left;
    display: block;
    width: 45%;
}

#high-score h2{
    font-weight: bold;
    font-size: 30px;
}

#high-score ol li{
    counter-increment: list;
    list-style-type: none;
    border: 1px sollid purple;
    background-color: purple;
    padding: 12px;
    font-size: 18px;
    color: white;
    /* display: block; */
    /* position: relative; */

}

#high-score ol li::before{
    content: counter(list) ". ";
    background-color: purple;
}

#high-score button{
    padding: 10px;
    margin: 20px;
    font-size: 18px;
    background-color: purple;
    cursor: pointer;
    color: white;
    border-radius: 10px;
}